@import url('https://fonts.googleapis.com/css?family=Economica%7CJosefin+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Economica";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navlinks{
 margin-left: 1150px
}

.search{
  width: 500px;
  height: 500px;
  border: 2px solid black
}
#help-button{
  font-weight: bolder
}
.navbar-brand{
  color: white
}

.papa-div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.search-div{
  padding-top: 100px;

  display: gird;
  justify-content: center;
}
#search-bar{
  width: 325px;
  border-radius: 3px;
  opacity: .80;
  border: 0px;
  padding: 10px;
}

.city-header{
  color: white;
  font-weight: bolder;
  font-size: 90px;
  font-family: "Josefin sans"
}

.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;

  width:100%;
  height:100%;

  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
  z-index: -3;
}

#logo{
  height: 95px;
  margin-bottom: 20px
}