body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-photo{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  
}

.search{
  width: 500px;
  height: 500px;
  border: 2px solid black
}

.papa-div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.search-div{
  padding-top: 100px;

  display: gird;
  justify-content: center;
}
#search-bar{
  width: 300px
}

.city-header{
  color: white;
  font-weight: bolder;
  font-size: 90px
}